<div class="row page">

	<% if (theme.widgets.length) { %>
	<div class="col-md-9">
		<% } else { %>
		<div class="col-md-12">
			<% } %>

			<%- partial('post/slogan') %>
			<div id="top_search"></div>
			<div class="mypage">

				<!-- title and entry -->
				<% page.posts.each(function(item){ %>
				<br>
				<%- partial('post/title', {item: item, index: index}) %>
				<hr class="index-post-hr" style=" height:2px;border:none;border-top:2px dotted #185598;" />
				<%- partial('post/entry', {item: item, index: index}) %>
				<% }); %>

			</div>

			<!-- pagination -->
			<div>
				<center>
					<%- partial('index_pagination') %>
				</center>
			</div>



		</div> <!-- col-md-9 -->

		<% if (theme.widgets.length) { %>
		<%- partial('sidebar') %>
		<% } %>

	</div> <!-- row-fluid -->